.homepage {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100svw;
  height: 100svh;
  max-width: 1280px;
  background-image: url("../imgs/image_1.png"), url("../imgs/image_3.png");
  background-size: 50%;
  background-position: left, right;
  background-repeat: no-repeat;
}
